USE [master]
GO
/****** Object:  Database [demodb]    Script Date: 01.11.2023 13:28:04 ******/
CREATE DATABASE [demodb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'demodb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\demodb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'demodb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\demodb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demodb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demodb]
GO
/****** Object:  Table [dbo].[EquipmentTypes]    Script Date: 01.11.2023 13:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentType] [nchar](20) NOT NULL,
 CONSTRAINT [PK_EquipmentTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 01.11.2023 13:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Client] [int] NOT NULL,
	[ID_TypeEquipment] [int] NOT NULL,
	[ID_TypeProblem] [int] NOT NULL,
	[ID_Technician] [int] NOT NULL,
	[ID_Manager] [int] NOT NULL,
	[ID_Status] [int] NOT NULL,
	[DateOrderOpen] [date] NOT NULL,
	[DateOrderClose] [date] NOT NULL,
	[Comments] [nchar](50) NOT NULL,
	[Photo] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProblemTypes]    Script Date: 01.11.2023 13:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProblemTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProblemType] [nchar](50) NOT NULL,
	[Description] [nchar](100) NOT NULL,
 CONSTRAINT [PK_ProblemTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 01.11.2023 13:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nchar](20) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 01.11.2023 13:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technicians]    Script Date: 01.11.2023 13:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technicians](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_User] [int] NOT NULL,
	[ID_TypeEquipment_1] [int] NOT NULL,
	[ID_TypeEquipment_2] [int] NOT NULL,
	[ID_TypeEquipment_3] [int] NOT NULL,
	[OtherSkills] [nchar](50) NOT NULL,
	[ProfileLink] [nchar](50) NOT NULL,
	[Photo] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Technicians] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01.11.2023 13:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nchar](20) NOT NULL,
	[Password] [nchar](20) NOT NULL,
	[FirstName] [nchar](20) NOT NULL,
	[LastName] [nchar](20) NOT NULL,
	[Nickname] [nchar](20) NOT NULL,
	[Mail] [nchar](20) NOT NULL,
	[Phone] [int] NOT NULL,
	[RegisterDate] [date] NOT NULL,
	[ID_role] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_EquipmentTypes] FOREIGN KEY([ID_TypeEquipment])
REFERENCES [dbo].[EquipmentTypes] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_EquipmentTypes]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_ProblemTypes] FOREIGN KEY([ID_TypeProblem])
REFERENCES [dbo].[ProblemTypes] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_ProblemTypes]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Statuses] FOREIGN KEY([ID_Status])
REFERENCES [dbo].[Statuses] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Statuses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Technicians] FOREIGN KEY([ID_TypeEquipment])
REFERENCES [dbo].[Technicians] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Technicians]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([ID_Client])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users1] FOREIGN KEY([ID_Manager])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users1]
GO
ALTER TABLE [dbo].[Technicians]  WITH CHECK ADD  CONSTRAINT [FK_Technicians_EquipmentTypes] FOREIGN KEY([ID_TypeEquipment_1])
REFERENCES [dbo].[EquipmentTypes] ([ID])
GO
ALTER TABLE [dbo].[Technicians] CHECK CONSTRAINT [FK_Technicians_EquipmentTypes]
GO
ALTER TABLE [dbo].[Technicians]  WITH CHECK ADD  CONSTRAINT [FK_Technicians_EquipmentTypes1] FOREIGN KEY([ID_TypeEquipment_2])
REFERENCES [dbo].[EquipmentTypes] ([ID])
GO
ALTER TABLE [dbo].[Technicians] CHECK CONSTRAINT [FK_Technicians_EquipmentTypes1]
GO
ALTER TABLE [dbo].[Technicians]  WITH CHECK ADD  CONSTRAINT [FK_Technicians_EquipmentTypes2] FOREIGN KEY([ID_TypeEquipment_3])
REFERENCES [dbo].[EquipmentTypes] ([ID])
GO
ALTER TABLE [dbo].[Technicians] CHECK CONSTRAINT [FK_Technicians_EquipmentTypes2]
GO
ALTER TABLE [dbo].[Technicians]  WITH CHECK ADD  CONSTRAINT [FK_Technicians_Users] FOREIGN KEY([ID_User])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Technicians] CHECK CONSTRAINT [FK_Technicians_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([ID_role])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
/****** Object:  Statistic [_WA_Sys_00000002_3F466844]    Script Date: 01.11.2023 13:28:04 ******/
CREATE STATISTICS [_WA_Sys_00000002_3F466844] ON [dbo].[EquipmentTypes]([EquipmentType]) WITH STATS_STREAM = 0x01000000010000000000000000000000726C6F290000000063020000000000002302000000000000EF030000EF000000280000000000000015D00000000000000700000010C3D400ADB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000038000000000020420000803F000000000000204200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000043000000000000009F00000000000000A700000000000000AF000000000000000800000000000000100038000000803F000000000000803F3D043E0443044204310443043A042000200020002000200020002000200020002000200020002000040000FF0100000000000000010000000100000028000000280000000000000000000000140000003D043E0443044204310443043A04200020002000200020002000200020002000200020002000200002000000400000000001140000000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK_EquipmentTypes]    Script Date: 01.11.2023 13:28:04 ******/
UPDATE STATISTICS [dbo].[EquipmentTypes]([PK_EquipmentTypes]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 8,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [PK_Orders]    Script Date: 01.11.2023 13:28:04 ******/
UPDATE STATISTICS [dbo].[Orders]([PK_Orders]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 0,PAGECOUNT = 0,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_619B8048]    Script Date: 01.11.2023 13:28:04 ******/
CREATE STATISTICS [_WA_Sys_00000002_619B8048] ON [dbo].[ProblemTypes]([ProblemType]) WITH STATS_STREAM = 0x0100000001000000000000000000000082D3364600000000AB040000000000006B04000000000000EF030000EF000000640000000000000015D0000000000000070000007397D800ADB000000300000000000000030000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000740000000000C84200004040000000000000C8420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000007D01000000000000E702000000000000EF02000000000000F70200000000000018000000000000008F000000000000000601000000000000100074000000803F000000000000803F32043804320432043F043F0420002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000040000100074000000803F000000000000803F1D043504380441043F044004300432043D043E04410442044C04200031043B043E043A04300420003F043804420430043D0438044F0420002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000040000100074000000803F000000000000803F1F043E043B043E043C043A04300420003A043E0440043F0443044104300420002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000040000FF01000000000000000300000003000000280000002800000000000000000000009600000032043804320432043F043F04200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020001D043504380441043F044004300432043D043E04410442044C04200031043B043E043A04300420003F043804420430043D0438044F04200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020001F043E043B043E043C043A04300420003A043E0440043F04430441043004200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020000400000040000000008132000000813232000001326400000003000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000003_619B8048]    Script Date: 01.11.2023 13:28:04 ******/
CREATE STATISTICS [_WA_Sys_00000003_619B8048] ON [dbo].[ProblemTypes]([Description]) WITH STATS_STREAM = 0x01000000010000000000000000000000F60189BA00000000A8050000000000006805000000000000EF0333ACEF000000C80000000000000015D0000000000000070000007297D800ADB00000030000000000000003000000000000000000803FABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000D800000000004843000040400000000000004843000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000C601000000000000E403000000000000EC03000000000000F4030000000000001000000000000000EB000000000000001000D8000000803F000000000000803F12043C044F04420438043D044B042C002000420440043504490438043D044B042C00200041043A043E043B044B04200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020000400001000D8000000803F0000803F0000803F4B043204300432044B0430042000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000040000FF0100000000000000030000000300000028000000280000000000000000000000F000000012043C044F04420438043D044B042C002000420440043504490438043D044B042C00200041043A043E043B044B042000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020001D04350420003704300440044F04360430043504420441044F0420003F044004380431043E0440042C0020003D043504200032043A043B044E04470430043504420441044F0420003804200042042E0020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020004B043204300432044B04300420002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000200020002000040000004000000000815000000081505000000150A000000003000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK_ProblemTypes]    Script Date: 01.11.2023 13:28:04 ******/
UPDATE STATISTICS [dbo].[ProblemTypes]([PK_ProblemTypes]) WITH STATS_STREAM = 0x010000000100000000000000000000001217E2D500000000FA01000000000000BA01000000000000380300003800000004000A00000000000000000000000000070000008883D800ADB0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F02000000040000100014000000803F000000000000803F0700000004000002000000000000000000000000000000,ROWCOUNT = 3,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_35BCFE0A]    Script Date: 01.11.2023 13:28:04 ******/
CREATE STATISTICS [_WA_Sys_00000002_35BCFE0A] ON [dbo].[Roles]([RoleName]) WITH STATS_STREAM = 0x0100000001000000000000000000000097BBAB410000000063020000000000002302000000000000EF030000EF000000280000000000000015D000000000000007000000CC99C200ADB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000038000000000020420000803F000000000000204200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000043000000000000009F00000000000000A700000000000000AF000000000000000800000000000000100038000000803F000000000000803F100434043C0438043D04200020002000200020002000200020002000200020002000200020002000040000FF010000000000000001000000010000002800000028000000000000000000000014000000100434043C0438043D0420002000200020002000200020002000200020002000200020002000200002000000400000000001140000000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK_Roles]    Script Date: 01.11.2023 13:28:04 ******/
UPDATE STATISTICS [dbo].[Roles]([PK_Roles]) WITH STATS_STREAM = 0x010000000100000000000000000000002915EFE900000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000000000000007000000DA32CA00ADB00000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F0300000004000003000000000000000000000000000000,ROWCOUNT = 3,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [PK_Statuses]    Script Date: 01.11.2023 13:28:04 ******/
UPDATE STATISTICS [dbo].[Statuses]([PK_Statuses]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 0,PAGECOUNT = 0,AUTO_DROP = OFF
GO
/****** Object:  Statistic [PK_Technicians]    Script Date: 01.11.2023 13:28:04 ******/
UPDATE STATISTICS [dbo].[Technicians]([PK_Technicians]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 0,PAGECOUNT = 0,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_3D5E1FD2]    Script Date: 01.11.2023 13:28:04 ******/
CREATE STATISTICS [_WA_Sys_00000002_3D5E1FD2] ON [dbo].[Users]([Login]) WITH STATS_STREAM = 0x01000000010000000000000000000000F599F7D70000000063020000000000002302000000000000EF030000EF000000280000000000000015D0000000000000070000005F48C300ADB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000038000000000020420000803F000000000000204200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000043000000000000009F00000000000000A700000000000000AF000000000000000800000000000000100038000000803F000000000000803F41007200740065006D00200020002000200020002000200020002000200020002000200020002000040000FF01000000000000000100000001000000280000002800000000000000000000001400000041007200740065006D0020002000200020002000200020002000200020002000200020002000200002000000400000000001140000000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000003_3D5E1FD2]    Script Date: 01.11.2023 13:28:04 ******/
CREATE STATISTICS [_WA_Sys_00000003_3D5E1FD2] ON [dbo].[Users]([Password]) WITH STATS_STREAM = 0x01000000010000000000000000000000A9C0A0DE0000000063020000000000002302000000000000EF030000EF000000280000000000000015D0000000000000070000005E48C300ADB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000038000000000020420000803F000000000000204200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000043000000000000009F00000000000000A700000000000000AF000000000000000800000000000000100038000000803F000000000000803F31003200330034002000200020002000200020002000200020002000200020002000200020002000040000FF0100000000000000010000000100000028000000280000000000000000000000140000003100320033003400200020002000200020002000200020002000200020002000200020002000200002000000400000000001140000000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000004_3D5E1FD2]    Script Date: 01.11.2023 13:28:04 ******/
CREATE STATISTICS [_WA_Sys_00000004_3D5E1FD2] ON [dbo].[Users]([FirstName]) WITH STATS_STREAM = 0x01000000010000000000000000000000E48981500000000063020000000000002302000000000000EF030000EF000000280000000000000015D0000000000000070000005D48C300ADB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000038000000000020420000803F000000000000204200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000043000000000000009F00000000000000A700000000000000AF000000000000000800000000000000100038000000803F000000000000803F41007200740065006D00200020002000200020002000200020002000200020002000200020002000040000FF01000000000000000100000001000000280000002800000000000000000000001400000041007200740065006D0020002000200020002000200020002000200020002000200020002000200002000000400000000001140000000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000005_3D5E1FD2]    Script Date: 01.11.2023 13:28:04 ******/
CREATE STATISTICS [_WA_Sys_00000005_3D5E1FD2] ON [dbo].[Users]([LastName]) WITH STATS_STREAM = 0x01000000010000000000000000000000A50D133C0000000063020000000000002302000000000000EF030000EF000000280000000000000015D0000000000000070000005C48C300ADB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000038000000000020420000803F000000000000204200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000043000000000000009F00000000000000A700000000000000AF000000000000000800000000000000100038000000803F000000000000803F50006F0067006F00720065006C006F00760020002000200020002000200020002000200020002000040000FF01000000000000000100000001000000280000002800000000000000000000001400000050006F0067006F00720065006C006F0076002000200020002000200020002000200020002000200002000000400000000001140000000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000006_3D5E1FD2]    Script Date: 01.11.2023 13:28:04 ******/
CREATE STATISTICS [_WA_Sys_00000006_3D5E1FD2] ON [dbo].[Users]([Nickname]) WITH STATS_STREAM = 0x0100000001000000000000000000000028F2EE1E0000000063020000000000002302000000000000EF030000EF000000280000000000000015D0000000000000070000006048C300ADB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000038000000000020420000803F000000000000204200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000043000000000000009F00000000000000A700000000000000AF000000000000000800000000000000100038000000803F000000000000803F41005200540020002000200020002000200020002000200020002000200020002000200020002000040000FF0100000000000000010000000100000028000000280000000000000000000000140000004100520054002000200020002000200020002000200020002000200020002000200020002000200002000000400000000001140000000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000007_3D5E1FD2]    Script Date: 01.11.2023 13:28:04 ******/
CREATE STATISTICS [_WA_Sys_00000007_3D5E1FD2] ON [dbo].[Users]([Mail]) WITH STATS_STREAM = 0x010000000100000000000000000000004E5E95CA0000000063020000000000002302000000000000EF030000EF000000280000000000000015D0000000000000070000006548C300ADB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000038000000000020420000803F000000000000204200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000043000000000000009F00000000000000A700000000000000AF000000000000000800000000000000100038000000803F000000000000803F61007200760034003600400067006D00610069006C002E0063006F006D0020002000200020002000040000FF01000000000000000100000001000000280000002800000000000000000000001400000061007200760034003600400067006D00610069006C002E0063006F006D002000200020002000200002000000400000000001140000000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000008_3D5E1FD2]    Script Date: 01.11.2023 13:28:04 ******/
CREATE STATISTICS [_WA_Sys_00000008_3D5E1FD2] ON [dbo].[Users]([Phone]) WITH STATS_STREAM = 0x01000000010000000000000000000000FA4F13EF00000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000000000070000006448C300ADB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0A5E010004000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000009_3D5E1FD2]    Script Date: 01.11.2023 13:28:04 ******/
CREATE STATISTICS [_WA_Sys_00000009_3D5E1FD2] ON [dbo].[Users]([RegisterDate]) WITH STATS_STREAM = 0x01000000010000000000000000000000639BDB4400000000DA010000000000009A01000000000000280300002800000003000A00000000000000000000000000070000006348C300ADB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000013000000000040400000803F00000000000040400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001E0000000000000026000000000000002E000000000000000800000000000000100013000000803F000000000000803F32450B04000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_0000000A_3D5E1FD2]    Script Date: 01.11.2023 13:28:04 ******/
CREATE STATISTICS [_WA_Sys_0000000A_3D5E1FD2] ON [dbo].[Users]([ID_role]) WITH STATS_STREAM = 0x01000000010000000000000000000000B0E12AD900000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000000000070000006148C300ADB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK_Users]    Script Date: 01.11.2023 13:28:04 ******/
UPDATE STATISTICS [dbo].[Users]([PK_Users]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 2,PAGECOUNT = 1,AUTO_DROP = OFF
GO
USE [master]
GO
